{% extends 'frontdesk/base.html' %}




{% block title %}
Products    
{% endblock title %}



{% block content %}
 <div class="container-fluid  row">
{% for product in products %}

    <div id="prow" class="col-lg-4 col-md-6 col-sm-6 d-block">
                
                {% if product.image %}
                    <p class="text-center">
                        <img src="{{product.image.url}}" alt="" width="60%" height="200px">
                    </p>
                {% endif %}
                    
           
            
                <div class="container jumbotron bg-info">
                    <h6 class="alert alert-light">
                         {{product.sub_category.category.name|capfirst}}/ {{product.sub_category.name|capfirst}} 
                    </h6>
                    <h6 class="text-light">{{product.name|capfirst}}</h6>
                    <h6 class="text-light">Size: {{product.size}}</h5>
                    <h6 class="text-light">Color: {{product.color}}</h6>
                    <h6 class="text-light">Price: {{product.price}}</h5>
                    <h6 class="text-light">Stock: {{product.stock}}</h6>
                   
                </div>
                
    </div>
    
{% endfor %}
  </div>



    
{% endblock content %}
    
    

{% block footer %}
    
{% endblock footer %}
    