{% extends 'home/base.html' %}



{% block title %}
Your order is being processed
    
{% endblock title %}
    



{% block heading %}

    
{% endblock heading %}
    



{% block content %}

<div class="row container-fluid" style="margin-top: 50px;">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 container jumbotron">
          <h5 class="alert alert-dark text-capitalize">
                    
                {{customer|capfirst}}
            </h5>
       
        
  
            
        
        <p class="alert alert-light text-center">
            Thanks for shopping at mimilondonglamour.com. Your order is being processed. Goodbye.
        </p>
          <p>
            <a class="btn btn-info" href="{% url 'home:index' %}">
                Back to shop
            </a>
                
            
        </p>
        <blockquote class="font-italic h5">
            MLG team
        </blockquote>
    </div>
    <div class="col-lg-3"></div>
</div>
    
{% endblock content %}
    