{% extends 'dashboard/base.html' %}



{% block content %}

<div class="row">
    <div class="col-lg-12">

        {% if  video %}
        <div class="container">
            <video controls autoplay>
                <source src="{{video.vid.url}}" type="video/mp4">
               
                Your browser does not support the video tag.
            </video>
        </div>
        {% endif %}
        <p class="text-center">
            <h5 class="alert alert-heading">
                Content
            </h5>
            {{video.content}}

        </p>
        <p>
            <a class="btn btn-success" href="{% url 'dashboard:edit_home_video' video.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'dashboard:remove_video' video.pk %}">Remove</a>
        </p>

    </div>
</div>

{% endblock content %}