{% extends 'dashboard/base.html' %}




{% block title %}
Products    
{% endblock title %}



{% block content %}
 <div class="container-fluid  row">
{% for product in products %}

    <div id="prow" class="col-lg-4 col-md-6 col-sm-6 d-block">
                
                {% if product.image %}
                    <p class="text-center">
                        <img src="{{product.image.url}}" alt="" width="60%" height="200px">
                    </p>
                {% endif %}
                    
           
            
                <div class="container jumbotron bg-info">
                    <h6 class="alert alert-light">
                         {{product.sub_category.category.name|capfirst}}/ {{product.sub_category.name|capfirst}} 
                    </h6>
                    <h4 class="alert alert-heading text-center">{{product.name|capfirst}}</h4>
                    
                 
                 {% if product.sizes %}
                     <h6 class="text-light">Sizes</h6>        
                 {% endif %}           
                        
                    {% for d in product.sizes.all %}
                
                             <li class="text-light">{{d.size|capfirst}}</li>                             
                    {% endfor %}
                    
                    {% if product.colors %}
                        <h6 class="text-light">Colors</h6>
                    {% endif %}
                        

                    {% for d in product.colors.all %}
                    <li class="text-light">{{d.color|capfirst}}</li>    
                    {% endfor %}
                        
                    <div class="container mt-2">
                    <h5 class="text-light text-center">Price: {{product.price}}</h5>
                    <h5 class="text-light text-center">Stock: {{product.stock}}</h5>
                    </div>
                    
                    <p>
                        <a class="btn btn-light" href="{% url 'dashboard:edit_product' product.pk %}">Edit</a> 
                        <a class="btn btn-danger" href="{% url 'dashboard:remove_product' product.pk %}">Remove</a>
                    </p>
                   
                </div>
                
    </div>
    
{% endfor %}
  </div>



    
{% endblock content %}
    
    

{% block footer %}
    
{% endblock footer %}
    