{% extends 'shop/base.html' %}




{% block title %}
Products    
{% endblock title %}



{% block content %}
 <div class="container-fluid  row">
{% for product in products %}

    <div id="prow" class="col-lg-4 col-md-6 col-sm-6 d-block">
                
                {% if product.image %}
                <p class="text-center">
                <a href="{{product.get_absolute_url}}">
                     
                    <img src="{{product.image.url}}" alt="" width="60%" height="300px">
                </a>
                </p>
                   
                {% endif %}
                    
           
            
                <div class="container">
                    <!-- <h5 class="alert alert-heading text-center">
                         {{product.sub_category.category.name|capfirst}}/ {{product.sub_category.name|capfirst}} 
                    </h5> -->
                    <h5 class="text-center">
                        {{product.name|capfirst}}
                    </h5>
                    
                    {% if product.sizes %}
                    
                   <table class="table table-responsive-md table-responsive-sm">
                       <thead>
                           <tr>
                            <th style="font-size: 12px;">Sizes</th> 
                            {% for s in product.sizes.all %}
                               
                                   <th style="font-size: 12px;">{{s.size}}</th>
    
                           {% endfor %}

                           </tr>           
                       </thead> 
                       
                    </table>      
                    {% endif %}
                   
                    {% if product.colors %}
                      <table class="table">
                       <thead>
                           <tr>
                            <th style="font-size: 12px;">Colors</th> 
                            {% for c in product.colors.all %}
                               
                                   <th style="font-size: 12px;">{{c.color}}</th>
    
                           {% endfor %}

                           </tr>           
                       </thead> 
                       
                    </table>      
                    {% endif %}
                        
                    
                    <h6 class="text-info">$ {{product.price}}</h6>
                    <h6 class="text-info">Stock: {{product.stock}}</h6>
                    <p class="text-info">
                        <a class="btn btn-info" href="{{product.get_absolute_url}}">View</a>
                    </p>
                    
                </div>
                
    </div>
    
{% endfor %}
  </div>



    
{% endblock content %}
    
    

{% block footer %}
    
{% endblock footer %}
    