#prow{
    width: 100%;
    font-family: Helvetica;
    font-size: 12;
    text-align: center;
    padding: 5px;
    border: 10px;
    border-color: firebrick;
}
img{
    width: 80%;
    height: 100%;
}

